/*
 * milkiish.css_t
 * ~~~~~~~~~~~~~~
 *
 * :copyright: Copyright 2020 Adewale Azeez.
 * :license: CC0-1.0
 */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");

* {
    font-family: "Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
    color: rgb(205,202,194) ; /* theme_text_color */
}

body {
    font-family: 'OpenSans',sans-serif;
    font-size: 100%;
    padding: 0;
    margin: 0;
    background: rgb(24,26,27); /* theme_background_color */
}

a {
    color: rgb(205,202,194) !important; /* theme_link_color */
    text-decoration: none;
}

a:hover {
    color: rgb(15,110,157) !important; /* theme_highlight_color */
    text-decoration: underline;
}

header {
    overflow: hidden;
    background-color: rgb(52,55,58); /* theme_header_background_color */
    box-shadow: 1px 2px 1px rgb(15,110,157); /* theme_highlight_color */
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 100000000;
}

dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0}

dt {
    float: left;
    width: 20%;
    padding: 0;
    margin: 0;
}

dd p {
    float: left;
    width: 70%;
    padding: 0;
    margin: 0;
}

table {
    background-color: gray;
    border-spacing: 1px;
    margin: 0 auto 0 auto;
}

table thead th, table thead td {
    background-color: rgb(24,26,27); /* theme_background_color */
    padding: 5px;
    margin: 1px;
}

table tbody th, table tbody td {
    background-color: rgb(24,26,27); /* theme_background_color */
    padding: 2px;
}

pre {
    padding: 5px;
    margin: 5px;
    overflow: auto;
    line-height: 18px;
}

.highlight {
    background-color: white!important; /* theme_pre_background_color */
    filter: brightness(98%);
    border: black 1px solid; /* theme_pre_border_color */
    border-radius: 5px;
    font-size: 0.8em;
    margin: 5px;
}

.icon {
    max-height:30px;
    max-width:200px;
    margin: auto;
    bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    vertical-align:middle;
}

.topnavbar {
    float: none;
    text-align:left;
    display:block;
    padding: 10px;
    height: 40px;
    line-height: 40px;
    max-width: 58%;
    margin: auto;
}

.topnavbar a {
    color: white !important; /* theme_menu_item_color */
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    top: 50%;
    left: 50%;
    margin: 15px;
    vertical-align: middle;
}

.topnavbar a:hover {
    color: rgb(15,110,157) !important; /* theme_highlight_color */
}

.topnavbar a.title {
    font-size: 17px;
    margin-right: 20px;
    font-weight: bold;
}

.topnavbar .search-container {
    display: inline-block;
    margin-left: 100px;
    float: right;
}

.topnavbar input[type=text] {
  padding: 6px;
  font-size: 17px;
  border: none;
  background: gray;
  color: white !important;
  outline: none;
}

.topnavbar .search-container button {
  float: left;
  padding: 6px 10px;
  margin-top: 2px;
  margin-left: 16px;
  background: gray;
  font-size: 17px;
  border: none;
  cursor: pointer;
  color: white !important;
}

.topnavbar .search-container button i {
  color: white !important;
}

.documentwrapper {
    margin: 5%;
    margin-top: 70px;
    max-height: 100%;
    font-size: 17px; /* theme_document_font_size */
}  

.sidebar-left {
    float:left;
    width:14%;
    z-index: 1;
    font-size: 13px;
    position: fixed;
    top: 70px;
    bottom:100px;
    overflow-y:auto;
    margin-right: -0px;
    padding-right: 0px;
}

.sidebar-right {
    float:right;
    width:20%;
    z-index: 1;
    font-size: 12px;
    position: fixed;
    right: 0;
    top: 70px;
    bottom:100px;
    overflow-y:auto;
    margin-right: -50px;
    padding-right: 50px;
}

.bodywrapper {
    float:left;
    width:62%;
    margin-left: 18%;
    margin-right: 10px;
    line-height: 3vh;
}

.sidebar-left ul {
    padding: 1px;
    list-style-type: none;
    margin: 0px;
    display: block;
}



.sidebar-left .caption {
    font-weight: bold;
}



.sidebar-left li {
    padding-left: 10px;
    margin-top: 5px;
}

.sidebar-right ul {
    padding: 1px;
    list-style-type: none;
    margin: 0px;
}

.sidebar-right li {
    padding-left: 10px;
    margin-top: 5px;
}

.footer ul {
    padding: 1px;
    list-style-type: none;
    margin: 0px;
}

.footer li {
    padding-left: 10px;
    margin-top: 5px;
}

.sidebar-left::-webkit-scrollbar {
    display: none;
}

.sidebar-left {
    -ms-overflow-style: none;
}

.sidebar-right::-webkit-scrollbar {
    display: none;
}

.sidebar-right {
    -ms-overflow-style: none;
}

.sidebar-right {
    color: #4d5052;
}

.sphinxsidebar {
    color: #4d5052;
}

/* -- body styles ----------------------------------------------------------- */

.headerlink {
    display: none;
}

.bodywrapper h1,
.bodywrapper h2,
.bodywrapper h3,
.bodywrapper h4,
.bodywrapper h5,
.bodywrapper h6 {
    font-size: 150%;
    font-weight: normal;
    margin: 15px 0px 5px 0px;
    padding: 1px 0 0px 0px;
    text-shadow: 0px 1px 0 white;
}

.bodywrapper a {
    color: #34aeeb !important; /* theme_body_link_color */
}

.bodywrapper a:hover {
    color: #147eb3 !important; /* theme_body_link_highlight_color */
    text-decoration: underline;
}

.bodywrapper .navigator {
    border: 1px solid #e6e6e6; /* theme_navigator_border_color */
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    color: rgb(205,202,194) !important; /* theme_text_color */
}

.bodywrapper .navigator-none {
    padding: 10px;
    margin-right: 10px;
}

.bodywrapper .navigator:hover {
    border: 1px solid #34aeeb; /* theme_body_link_color */
}

.bodywrapper .navigator .fa {
    margin-left: 20px;
    margin-right: 20px;
}

.bodywrapper .navigation a:hover {
    text-decoration: none;
}


div.body h1 {
    margin-top: 0;
    padding-top: 10px;
    font-size: 250%;
    text-align: center;
    padding-bottom: 30px;
}


div.body h2 { font-size: 180%; }
div.body h3 { font-size: 150%; }
div.body h4 { font-size: 130%; }
div.body h5 { font-size: 120%; }
div.body h6 { font-size: 100%; }

div.body p, div.body dd, div.body li {
    line-height: 1.5em;
}

div.admonition p.admonition-title + p {
    display: inline;
}

div.note {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 15px;
}

div.seealso {
    background-color: #ffc;
    border: 1px solid #ff6;
    padding: 15px;
}

div.topic {
    background-color: #eee;
    padding: 15px;
}

div.warning {
    background-color: #ffe4e4;
    border: 1px solid #f66;
    padding: 15px;
}

p.admonition-title {
    display: inline;
}

p.admonition-title:after {
    content: ":";
}

tt {
    background-color: #ecf0f3;
    color: #222;
    font-size: 1.1em;
    font-family: monospace;
}

.viewcode-back {
    font-family: 'OpenSans',sans-serif;
}

div.viewcode-block:target {
    background-color: #f4debf;
    border-top: 1px solid #ac9;
    border-bottom: 1px solid #ac9;
}

/* -- footer styles ----------------------------------------------------------- */

.footer {
    background-color: rgb(52,55,58); /* theme_header_background_color */
    box-shadow: 0px 0px 5px rgb(15,110,157); /* theme_highlight_color */
    color: white !important; /* theme_menu_item_color */
    width: 100%;
    padding: 13px 0;
    text-align: center;
    z-index: 2;
    position: absolute;
    margin-top:100px;
}

.footer a {
    color: rgb(15,110,157) !important; /* theme_highlight_color */
}

.doc-sphinx-info {
    font-size: 75%;
    color: white !important; /* theme_menu_item_color */
}

.footer-col1 {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    align-items: top;
    justify-content: center;
}

.footer-col2 {
    text-align: left;
    margin: 50px;
    font-size: 95%;
}

.footer-col2 a {
    color: white !important; /* theme_menu_item_color */
}

.footer-col2 a:hover {
    color: rgb(15,110,157) !important; /* theme_highlight_color */
    text-decoration: none;
}

.footer-col2 ul > li > a > i {
    color: white !important; /* theme_menu_item_color */
    margin-right: 5px;
}

.footer-col2-title {
    font-weight: bold;
    color: white !important; /* theme_menu_item_color */
}

.footer-col2-title i {
    margin-bottom: 10px;
    margin-right: 10px;
    color: white !important; /* theme_menu_item_color */
}

.footer .social {
    font-size: 200%;
}

.footer .social > a > i {
    margin-left: 10px;
    margin-right: 10px;
    color: white !important; /* theme_menu_item_color */
}

.footer .social > a > i:hover {
    color: rgb(15,110,157) !important; /* theme_highlight_color */
}



