
name: CI with C/C++ Exotic Action

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, ubuntu-18.04, ubuntu-20.04, ubuntu-latest, windows-latest]
        platform: [x86, x64]
        compiler: [gnu, clang]

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Setup Exotic Libraries
        uses: exoticlibraries/exotic-action@master
        with:
          run-cester-regression: false
        
      - name: Run Regression
        uses: exoticlibraries/exotic-action@master
        with:
          download-exotic-libraries: false
          test-folders: |
            test/
          test-exclude-file-pattern:  |
            mock+
            test_assert_double_float+
            test_assert_long_long+
            crash_test.c
        
